name: CI

on:
  push:
    branches: "*"
  pull_request:
    branches: "*"

jobs:
  test:
    name: ${{ matrix.python }}-build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.8, 3.9]
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2.4.0
      - name: Conda setup
        uses: conda-incubator/setup-miniconda@v2
        with:
          mamba-version: '*'
          python-version: ${{ matrix.python-version }}
          activate-environment: ndpyramid
          auto-activate-base: false

      - name: Set up conda environment
        run: |
          mamba env update -f ci/environment.yml
          python -m pip install --no-deps -e .
      - name: Conda list information
        run: |
          conda env list
          conda list
      - name: Run tests
        run: |
          python -m pytest --cov=./ --cov-report=xml --verbose
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          file: ./coverage.xml
          fail_ci_if_error: false
